@import "../chameleon/styles.css";

.catBkgnd
{
  background-color: rgb(245,245,245);
}

.catBkgndLight
{
  background-color: rgb(250,250,250);
}

.catBlue
{
  color: rgb(100,108,183);
}

.catBlueDark
{
  color: rgb(68,75,147);
}

.catLowlight
{
  border-color: rgb(215,215,230);
  border-width: 2px;
  border-style: ridge;
}

.catHighlight
{
  border-color: rgb(180,180,220);
  border-width: 2px;
  border-style: ridge;
}

.catBorder
{
  border-color: rgb(180,180,180);
  border-width: 1px;
  border-style: solid;
}

.catBorderLight
{
  border-color: rgb(230,230,230);
  border-width: 1px;
  border-style: solid;
}

.catBorderBottom
{
  border-bottom-color: rgb(180,180,180);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.catNoBorder
{
  border-style: none;
}

.catHorizRule
{ 
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(180,180,180);
}

.catVertRule
{
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgb(180,180,180);
}

.catTextAlignCentre
{
  text-align: center;
}

.catTextAlignRight
{
  text-align: right;
}

.catHeadlineFont
{
  font-family: "Times New Roman";
  font-size:x-large;
  font-style:italic;

  line-height: 120%;
}

.catSubHeadlineFont
{
  font-family: "Calibri";
  font-size: large;
  font-weight: bold;

  line-height: 100%; 
}

.catSectionFont
{
  font-family: "Calibri";
  font-size: medium;
  font-weight: bold;
  
  line-height: 100%; 
}

.catSubSectionFont
{
  font-family: "Calibri";
  font-size: small;
  font-weight: bold;

  line-height: 100%; 
}

.catSmallDataFont
{
  font-family: "Arial";
  font-size: x-small;
}

/* Dashboard schemes -------------------------------------------------------- */

.catDashC1
{
  background-color: #111111;
  color: #EFEFEF;
}

.catDashC2
{
  background-color: #222222;
  color: #E6E6E6;
}

.catDashC3
{
  background-color: #333333;
  color: #DFDFDF;
}

.catDashC4
{
  background-color: #444444;
  color: #D6D6D6;
}

.catDashC4
{
  background-color: #555555;
  color: #CFCFCF;
}

.catDashC6
{
  background-color: #666666;
  color: #C6C6C6;
}

.catDashC7
{
  background-color: #777777;
  color: #BFBFBF;
}

.catDashGradientTop
{
  background: -webkit-linear-gradient(top, #333333, #222222);
  color: #DFDFDF;
}

.catDashGradientBottom
{
  background: -webkit-linear-gradient(top, #222222, #333333);
  color: #DFDFDF;
}

.catDashRedHighlight
{
  background-color: #FF4040;
  color: #EFEFEF;
}

.catDashBIGFont
{
  font-family: "Palatino Linotype";
  font-size: 64px;
  line-height: 64px;
}

/* Modified base styles ----------------------------------------------------- */
.v-menubar-catBasicMenuBar
{
	background-color: rgb(242,242,242);
	color: rgb(22,117,194);
  
  font-family: "Arial";
  font-size: medium;

  line-height: 100%;
  
  border-style: none;
}

.v-menubar-menuitem-catBasicMenuItem
{
	background-color: rgb(245,245,245);
	color: rgb(22,117,194);
  
  font-family: "Arial";
  font-size: small;
  
  border-width: 1px;
  border-color: rgb(240,240,240);
  border-left-style: solid;
  border-right-style: solid;

  line-height: 110%;
}

.v-tabsheet-tabitemcell-romatrix .v-captiontext {
    color: black;
}
